<div class="form-wrapper">
  <%= form_for(@post) do |f| %>
    <div class="row">
      <div class="small-12 columns">
         <%= f.text_field :title, placeholder: "Title" %>
      </div>
    </div>
  <div class="row">
    <div class="small-9 columns">
      <%= f.select(:category_id) do %>
        <% display_categories.each do |category| %>
          <%= content_tag(:option, category.name, value: category.id) %>
        <% end %>
      <% end %>
    </div>
    <div class="small-3 columns">
      <%= link_to 'New Category', new_category_url %>
    </div>
  </div>

      <%= f.text_area :body, rows: 15 %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>


